.nav_wrap {
  width: 100vw;
  padding: 0.4rem 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  border: 5pt solid silver;

  .nav_logo_wrap {
    img {
      height: 4rem;
      width: auto;
    }
  }

  .nav_menu_wrap {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;


    ul {
      list-style-type: none;
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
  }
}



.foot_wrap{
  width: 100vw;
  height: 350pt;
  padding: 0.4rem 10%;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-rows: 5fr 5fr;
  justify-content: space-around;
  padding: 5pt;
  align-content: start;

  place-items: center;
  position: fixed;
  background-color: pink;
  bottom: 0px;
  border: 5pt solid black;

  .foot_menu_wrap {
    display: flex;
    align-items: center;
    background-color: green;
    width: 40%;
    justify-content: space-evenly;
}

}

