.nav_wrap {
  width: 100vw;
  padding: 0.4rem 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  border: 5pt solid silver;

  .nav_logo_wrap {
    img {
      height: 4rem;
      width: auto;
    }
  }

  .nav_menu_wrap {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;

    ul {
      list-style-type: none;
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.foot_wrap {
  width: 100vw;
  height: 350pt;
  display: flex;
  position: fixed;
  background-color: pink;
  bottom: 0px;
  border: 5pt solid red;

  .foot_left_wrap {
    flex:50%;
   
    background-color: purple;

    img {
      height: 10rem;
      width: auto;
    }
  }

  .foot_right_wrap {
    background-color: yellow;
    flex:50%;


    .foot_menu_wrap {
      display: grid;
      width: 200pt;
      grid-template-columns: 50pt 50pt 50pt 50pt 50pt;
      grid-template-rows: 5fr 5fr;
      align-items: center;
      background-color: green;
      width: 40%;
      justify-content: space-evenly;
    }
  }
}
