.profile_wrap{
    width: 100%;
    height: 100%;
    display: flex;

    .profile_left_wrap{
        flex:30%;
        border: 5pt solid orange;

    }

    .profile_right_wrap{
        flex:70%;
        border: 5pt solid red;

    }
}