.profile_wrap{
    width: 100%;
    
    display: flex;

    .profile_left_wrap{
        flex: 30%;
        //border: 5pt solid orange;
   


        .card1{
            
            .card {
                //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                
                //max-width: 100%;
                margin: auto;
                text-align: center;
                font-family: arial;

              }
              
              .title {
                color: grey;
                //font-size: 18px;
              }
              
              button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                //font-size: 18px;
              }
              
              a {
                text-decoration: none;
                //font-size: 22px;
                color: black;
              }
              
              button:hover, a:hover {
                opacity: 0.7;
              }

              .linkystuff{
                margin: 24px 0;
              }

              .img{
  
              }
        }

    }

.profile_right_wrap{
        flex: 70%;
        border: 5pt solid white;
    }
}

.profile_skills{
  .header {
    padding: 5px;
    text-align: left;
    background: #2e2e2e;
    color: white;
    font-size: 18px;
  }

.profile_card {
  box-sizing: border-box;


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
}
}

.about {
  .header {
    padding: 5px;
    text-align: left;
    background: #2e2e2e;
    color: white;
    font-size: 18px;
  }
  p {
    color : grey;
    font-size: small;
  }
}